.fullscreen {
  width: 100%;
  height: 80vh;
  padding: 40vh;
}

.a {
  position: relative;/*相対配置*/
  background: url('../img/imgbg2.jpg') center/cover;
}
.fullscreen p{
  position: absolute;/*絶対配置*/
  color: rgb(245, 228, 240);
  top: 60%;
  left: 30%;
  font-size: 10vmin;
}
.fullscreen img{
  position: absolute;/*絶対配置*/
  bottom: 0%;
  left: 0%;
  height: 10%;
}
.good {
  background-color: #2779bd;
  width: 50px;
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  
  position: absolute;
  top: 0;
  left: 0;
}




.sample-box {
  position: relative;
}

.good {
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  
  position: absolute;
  top: 0;
  left: 0;
}

body{
  background: #d8e5f0;
  font-family: Fredericka+the+Great;
}
#gnav li {
  list-style: none;
  /*border:#F70841 1px solid;
  line-height: 30px;*/
  /*border-right: 1px solid rgb(148, 171, 235);*/
  /*display: inline;
  background-color: rgb(159, 235, 228);
  padding: 3px,3px*/
}
#gnav li a{
  font-family: 'Oswald', sans-serif;
  display: block;
  padding: 20px 15px;
  text-align: center;
  text-decoration: none;
  color: rgb(83, 79, 79);
  font-size: 100%;
}
#gnav li a:hover {
  background: #EEE;
  color: rgb(37, 36, 36);
}
#gnav li a {
  background: rgb(99, 97, 97);
  color: #EEE;
}

/*--------------------------------
　Section
---------------------------------*/

.section .inner {
  padding: 100px 10px;
}

.section .section-title-block {
  text-align: center;
  margin-bottom: 30px;
}

.section .section-title {
  /*font-family: 'Playball', cursive;*/
  font-family: 'Fredericka+the+Great';
  /*font-family: 'Permanent Marker', cursive;*/
  letter-spacing: -0.01em;
  display: inline-block;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #7eb3f0;
}

.section .section-desc {
  text-align: center;
}

.two-column-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.two-column-image {
  width: 33%;
}

.two-column-image img {
  margin: 0 auto;
}

.two-column-desc {
  width: 62%;
}
/*--------------------------------
　works
---------------------------------*/

/* #latestworks .two-column-image {
  width: 48%;
}

#latestworks .two-column-desc {
  width: 48%;
}*/

.card img{
  width: 80%;
}


#works .card-caption-title {
  font-size: 13px;
  font-weight: bold;
  color: #165092;
}

#works .card-caption-info {
  font-size: 12px;
}

#works .card-caption-url {
  font-size: 10px;
}

